.sign-up-form{
    margin: 0 auto;
    border: 1px solid black;
    width: 320px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 4px;
    align-items: center;

    img {
        height: 64px;
        width: auto;
    }

}

.signUplabel{
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    //border: 1px solid red;
}

.signUpInput{

    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 20px;
    margin-top: 10px;
}

.signUpButton {
    height: 50px;
    width: 230px;
    margin: 0 auto;
    background-color: #3340cc;
    color: white;
    font-size: 20px;
    border-radius: 4px;
}